{% extends "base.html" %}
{% load static %}
{% block content %}

<h1 class="success">Sell Online With Flipkart</h1>
<div class="container" text-align="left to right">
<p>. 45 crore+ flipkart customers</p>
<p>. 7* days secure & regular payments</p>
<p>. low cost of doing business</p>
<p>. one click seller support</p>
<p>. access to the big billion days and more</p>
</div>

<h1 class="success">Seller Success Stories</h1>
<div class="container" text-align="left to right">
    <h3>1.Amith Pandey - seller</h3>
    <p>. start my selling journey with flipkart.</p>
    <p>. i am growing faster as it has more customers.</p>
</div>
{% endblock content %}