<!--{% extends "base.html" %}
{% load static %}
{% block content %}

<h1 class="text-center text-success">Scooters</h1>  
{% for i in sc_list %}
    <div class="container" align="center">
            <div class="gallery">
                <a target="_blank" href="{{ i.3 }}">Name:<b class="text-primary">{{i.0}}</b>
                    <img src="{{i.1}}"  alt="Cinque Terre" height="180">
                </a> <br>
                <i> Price:<b>{{ i.2 }}</b> </i>
               
                
            </div>
        
       
    </div>
 {% endfor %}

{% endblock content %}
-->