<!--{% extends "base.html" %}
{% load static %}
{% block content %}

    <h1 class="text-center text-success">watches</h1>  
{% for i in sc_list %}
    <div class="container">
        <div class="gallery">
                <a target="_blank" href="{{i.2}}">Name:<b class="text-primary">{{i.0}}</b>
                    <img src="{{i.3}}" alt="Cinque Terre" height="180">
                </a>  <br>
                <i> price:<b>{{i.1}}</b></i>
             
           
        </div>
   
    </div>
     {% endfor %}

{% endblock content %}
-->
